.servicos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.servicos-text {
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.servicos-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #251c14;
  font-weight: 700;
}

.servicos-text p {
  font-size: 2.5rem;
  color: #52473d;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .servicos-section {
    padding: 0 1rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 600px) {
  .servicos-text h1 {
    font-size: 2rem;
  }

  .servicos-text p {
    font-size: 1.5rem;
  }
}
